flask
sqlalchemy
alembic
WTForms
requests
pyodbc
pymssql
Flask-APScheduler
psycopg2
pyodbc
flask-socketio
eventlet
Flask-mail
gunicorn==18.0
Flask-UUID
flask-login
mysql-python
cerberus
markdown
google-api-python-client
