{% extends "base.html" %}

{% block head %}
    {{ super() }}
{% endblock %}
{% block title %} Register {% endblock %}

{% block body %}
<body class="hold-transition register-page">
    {% block styles %}
        {{ super() }}
        <!-- Theme CSS -->
        <link href="{{url_for('.static', filename='bower_components/adminlte/dist/css/AdminLTE.min.css')}}" rel="stylesheet">
    {% endblock %}

<body class="hold-transition register-page">
<div class="register-box">
  <div class="register-logo">
    <a href="/"><b>Data</b>Rhino</a>
  </div>

  <div class="register-box-body">
    <h3 class="login-box-msg">Please check your email for a link to reset your password.</h3>
  </div>
  <!-- /.form-box -->
</div>

{% endblock %}
