{% extends "dashboard/dashboard.html" %}
{% block title %} Create Entry {% endblock %}

{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header" data-background-color="purple">
                        <h4 class="title">Create Entry</h4>
                        <p class="category">Create your blog entry</p>
                    </div>
                    <div class="card-content">
                        <form>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Author</label>
                                        <input type="text" class="form-control" id="author">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Title</label>
                                        <input type="text" class="form-control" id="title">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Subtitle</label>
                                        <input type="text" class="form-control" id="subtitle">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Slug</label>
                                        <input type="text" class="form-control" id="slug">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group label-floating">
                                        <button type="button" class="mui-btn mui-btn--accent" data-toggle="modal" data-target="#upload">Upload Image</button>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Image Description (for screen readers)</label>
                                        <input type="text" class="form-control" id="image_alt">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Content</label>
                                        <div class="form-group label-floating">
                                            <label class="control-label"></label>
                                            <textarea class="form-control" rows="5" id="content"></textarea>
                                        </div>
                                        <i>(Note: Article must be written in Markdown, the easiest way to submit is to write it in a text editor and then copy and paste here)</i>
                                    </div>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary pull-right">Update Profile</button>
                            <div class="clearfix"></div>
                        </form>
                        <div class="container">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block modals %}

    <!-- Upload Image Modal -->
      <!-- Modal -->
  <div class="modal fade" id="upload" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="container">
                  <form action="/file-upload"
                      class="dropzone"
                      id="my-awesome-dropzone"></form>
                </div>
            </div>
        </div>
    </div>
  </div>
{% endblock %}


{% block scripts %}
{{ super() }}
    <script defer src="{{url_for('static', filename='js/dropzone.js')}}"></script>
{% endblock %}

