{% extends "base.html" %}

{% block head %}
    {{ super() }}
{% endblock %}
{% block title %} Dashboard {% endblock %}

{% block body %}
<body>
    {% block styles %}
        {{ super() }}
        <!-- Theme CSS -->
        <link href="{{url_for('static', filename='bower_components/material-dashboard/assets/css/material-dashboard.css')}}" rel="stylesheet">
    {% endblock %}

    <div class="wrapper">

        <div class="sidebar" data-color="purple">
            <!--
                Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

                Tip 2: you can also add an image using data-image tag
            -->

            <div class="logo">
                <a href="/dashboard" class="simple-text">
                    {{ name }}
                </a>
            </div>

            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li class="active">
                        <a href="/dashboard">
                            <i class="material-icons">dashboard</i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li>
                        <a href="/dashboard/create-article">
                            <i class="material-icons">content_paste</i>
                            <p>Create Article</p>
                        </a>
                    </li>
                    <li>
                        <a href="/dashboard/notifications">
                            <i class="material-icons text-gray">notifications</i>
                            <p>Notifications</p>
                        </a>
                    </li>
                    <li>
                        <a href="/logout">
                            <i class="material-icons text-gray">power_settings_new</i>
                            <p>Logout</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="main-panel">
            <nav class="navbar navbar-transparent navbar-absolute">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#"><b>Israel</b>Fl | Dashboard</a>
                    </div>
                </div>
            </nav>

            {% block content %}
            {% endblock %}

            {% block footer %}
            <footer class="footer">
                <div class="container-fluid">
                    <nav class="pull-left">
                        <ul>
                            <li>
                                <a href="#">
                                    Home
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Company
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Portfolio
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                   Blog
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <p class="copyright pull-right">
                        &copy; <script>document.write(new Date().getFullYear())</script> <a href="http://www.creative-tim.com">Creative Tim</a>, made with love for a better web
                    </p>
                </div>
            </footer>
            {% endblock %}
        </div>
    </div>

{% block modals %}
{% endblock %}
</body>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <!-- Theme JavaScript -->
    <script defer src="{{url_for('static', filename='bower_components/material-dashboard/assets/js/material.min.js')}}"></script>
    <script defer src="{{url_for('static', filename='bower_components/material-dashboard/assets/js/chartist.min.js')}}"></script>
    <script defer src="{{url_for('static', filename='bower_components/material-dashboard/assets/js/bootstrap-notify.js')}}"></script>
    <script defer src="{{url_for('static', filename='bower_components/material-dashboard/assets/js/material-dashboard.js')}}"></script>
{% endblock %}
