<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Israel Flores - Interactive Resume</title>
    <!-- Bootstrap Core CSS -->
    <link href="{{url_for('.static', filename='bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
    <!-- Theme CSS -->
    <link href="{{url_for('.static', filename='css/freelancer.min.css')}}" rel="stylesheet">
    <link href="{{url_for('.static', filename='css/index.css')}}" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.24/browser.js"></script>
    <!-- Socket.IO -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>
    <!-- UUID -->
    <script src="http://wzrd.in/standalone/uuid@latest"></script>
    <!-- Material UI -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script src="//d3js.org/d3.v3.min.js"></script>
    <script src="//d3js.org/topojson.v1.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="//cdn.muicss.com/mui-0.9.15/css/mui.css" />
    <script src="//cdn.muicss.com/mui-0.9.15/js/mui.js"></script>

</head>

<body id="page-top" class="index">
    <div id="skipnav"><a href="#maincontent">Skip to main content</a></div>
    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="#page-top">Israel Flores</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#portfolio">Portfolio</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#skills">Skills</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#resume">Resume</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#data-visualization">Data Science</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <!-- Header -->
    <header>
        <div class="container" id="maincontent" tabindex="-1">
            <div class="row">
                <input type="hidden" value="{{url_for('static', filename='resume.txt')}}" id="hidden-resume">
                <div id="console" class="console-left"></div>
            </div>
        </div>
    </header>
    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Portfolio</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{{url_for('.static', filename='images/portfolio/offsite_logo.png')}}" class="img-responsive img-portfolio" alt="Cabin">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{{url_for('.static', filename='images/portfolio/green_facades/logo_green_facades.png')}}" class="img-responsive img-portfolio" alt="Slice of cake">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{{url_for('.static', filename='images/portfolio/soul_voyage/sv_logo.png')}}" class="img-responsive img-portfolio" alt="Circus tent">
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- SKILLS -->
    <section id="skills" class="success">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Skills</h2>
                    <hr class="star">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <!-- <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div> -->
                        <img src="{{url_for('.static', filename='images/skills/architecture.png')}}" class="img-responsive" alt="web">
                    </a>
                    <h3>Web Architecture</h3>
                </div>
                <div class="col-sm-4 portfolio-item h3-skills">
                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                        <!-- <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div> -->
                        <img src="{{url_for('.static', filename='images/skills/android4.png')}}" class="img-responsive img-portfolio" alt="Safe">
                    </a>
                    <h3>Android</h3>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <!-- <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div> -->
                        <img src="{{url_for('.static', filename='images/portfolio/languages.png')}}" class="img-responsive" alt="Submarine">
                    </a>
                    <h3>Programming Languages</h3>
                </div>
            </div>
        </div>
    </section>


    <section id="data-visualization">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Data Science</h2>
                <hr class="star-primary">
                <p>The world is driven by it, and with my strong math background I'm in a position to take advantage of it.</p>
            </div>
            <iframe sandbox="allow-popups allow-scripts allow-forms allow-same-origin" src="{{ url_for('render') }}" marginwidth="0" marginheight="0" align="center" style="height:500px; margin-left: 25%; width: 960px;" scrolling="no"></iframe>
        </div>
    </section>

    <!-- Sockets Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Sockets</h2>
                    <hr class="star">
                    <p>Because it is important to keep up with web technologies. Try chatting!</p>
                </div>
            </div>
    <div class="row chat-section">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-comment"></span> Chat
                </div>
                <div class="panel-body" id="holder">
                    <ul class="chat" id="chatbox">
                    </ul>
                    <input type="hidden" id="robot-icon" value="{{url_for('static', filename='images/robot.png')}}">
                    <input type="hidden" id="user-icon" value="{{url_for('static', filename='images/person.png')}}">
                </div>
                <div class="panel-footer">
                    <div class="input-group">
                        <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." />
                        <span class="input-group-btn">
                            <button class="btn btn-warning btn-sm" id="btn-chat">
                                Send</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-comment"></span> Chat
                </div>
                <div class="panel-body" id="holder2">
                    <ul class="chat" id="chatbox2">
                    </ul>
                </div>
                <div class="panel-footer">
                    <div class="input-group">
                        <input id="btn-input2" type="text" class="form-control input-sm" placeholder="Type your message here..." />
                        <span class="input-group-btn">
                            <button class="btn btn-warning btn-sm" id="btn-chat2">
                                Send</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
                <div id="log"></div>
            </div>
        </div>
    </section>

    <section id="resume">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Resume</h2>
                    <hr class="star">
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-3 col-md-6 text-center">
                    <button class="mui-btn mui-btn--primary" id="download-resume">Download</button>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Contact Me</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                    <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                    <form name="sentMessage" id="contactForm" novalidate method="post" action="/contact">
                        <div class="row control-group">
                            <div class="mui-textfield mui-textfield--float-label">
                                <input type="text" id="name" name="name" required data-validation-required-message="Please enter your name.">
                                <p class="help-block text-danger"></p>
                                <label>Name</label>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="mui-textfield mui-textfield--float-label">
                                <input type="email" id="email" name="email" required data-validation-required-message="Please enter your email address.">
                                <p class="help-block text-danger"></p>
                                <label>Email Address</label>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="mui-textfield mui-textfield--float-label">
                                <input type="tel" id="phone" name="phone"  required data-validation-required-message="Please enter your phone number.">
                                <p class="help-block text-danger"></p>
                                <label>Phone Number</label>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="mui-textfield mui-textfield--float-label">
                                <textarea rows="5" id="message" name="message" required data-validation-required-message="Please enter a message."></textarea>
                                <p class="help-block text-danger"></p>
                                <label>Message</label>
                            </div>
                        </div>
                        <br>
                        <div id="success"></div>
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <button class="mui-btn mui-btn--primary">Send</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>Location</h3>
                        <p>Los Angeles, CA</p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Around the Web</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="https://www.facebook.com/israel.flores.735" class="btn-social btn-outline"><span class="sr-only">Facebook</span><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="https://plus.google.com/106320681416371522429" class="btn-social btn-outline"><span class="sr-only">Google Plus</span><i class="fa fa-fw fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/_israelfl" class="btn-social btn-outline"><span class="sr-only">Twitter</span><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/in/israel-flores-9b4037108/" class="btn-social btn-outline"><span class="sr-only">Linked In</span><i class="fa fa-fw fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="https://github.com/israel-fl" class="btn-social btn-outline"><span class="sr-only">Dribble</span><i class="fa fa-fw fa-github"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; Israel Flores 2017
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>
    <!-- Portfolio Modals -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>AWS Glacier Web App</h2>
                            <hr class="star-primary">
                            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                    <li data-target="#myCarousel" data-slide-to="1"></li>
                                    <li data-target="#myCarousel" data-slide-to="2"></li>
                                    <li data-target="#myCarousel" data-slide-to="3"></li>
                                </ol>
                                <!-- Wrapper for slides -->
                                <div class="carousel-inner" role="listbox">
                                    <div class="item active">
                                        <img src="{{url_for('.static', filename='images/portfolio/aws/aws_glacier1.png')}}" alt="Chania">
                                    </div>
                                    <div class="item">
                                        <img src="{{url_for('.static', filename='images/portfolio/aws/aws_glacier7.png')}}" alt="Chania">
                                    </div>
                                    <div class="item">
                                        <img src="{{url_for('.static', filename='images/portfolio/aws/aws_glacier2.png')}}" alt="Flower">
                                    </div>
                                    <div class="item">
                                        <img src="{{url_for('.static', filename='images/portfolio/aws/aws_glacier3.png')}}" alt="Flower">
                                    </div>
                                    <div class="item">
                                        <img src="{{url_for('.static', filename='images/portfolio/aws/aws_glacier4.png')}}" alt="Flower">
                                    </div>
                                    <div class="item">
                                        <img src="{{url_for('.static', filename='images/portfolio/aws/aws_glacier5.png')}}" alt="Flower">
                                    </div>
                                    <div class="item">
                                        <img src="{{url_for('.static', filename='images/portfolio/aws/aws_glacier6.png')}}" alt="Flower">
                                    </div>
                                </div>
                                <!-- Left and right controls -->
                                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                            <div class="p-portfolio">
                                <p>
                                    </br>
                                    <h3>FLASK-PYTHON-SQLALCHEMY</h3></br>
                                    This is a web interface in the form of a dashboard to facilitate the upload, retrieval and storage of archives uploaded to AWS Glacier.</br>
                                    This app has been highly tailored to be integrated into the Kaseya suite for IT management, and hence, many of the features are meant to be used with the software.</br>
                                    </br>
                                    <h4>Overall Structure</h4></br>
                                    </br>
                                    This was highly customized to represent the structure within the Kaseya suite. You must first start by adding an organization under Configuration > Add Organization. Here you add the Secret Key, Access Key, and Account ID required to interface with AWS services.</br>
                                    </br>
                                    Then you add an agent to the organization, including the name of the vault you want to backup the specific machine to, and the location of the backups. More detailed documentation to follow.</br>
                                    </br>
                                    <h6>Note</h6></br>
                                    This web app has been built in such a way that it interfaces with the other script I wrote called <a href="https://github.com/israel-fl/Glacier">glacier.py</a></br>
                                </p>
                            </div>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="http://www.healthcarepracticeit.com">Healthcare Practice IT</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong>Spring 2017</strong>
                                </li>
                                <li>Service:
                                    <strong>Web Application</strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Green Facades (Android App)</h2>
                            <hr class="star-primary">
                            <div id="green_facades_carousel" class="carousel slide" data-ride="carousel">
                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#green_facades_carousel" data-slide-to="0" class="active"></li>
                                    <li data-target="#green_facades_carousel" data-slide-to="1"></li>
                                    <li data-target="#green_facades_carousel" data-slide-to="2"></li>
                                    <li data-target="#green_facades_carousel" data-slide-to="3"></li>
                                    <li data-target="#green_facades_carousel" data-slide-to="4"></li>
                                    <li data-target="#green_facades_carousel" data-slide-to="5"></li>
                                    <li data-target="#green_facades_carousel" data-slide-to="6"></li>
                                    <li data-target="#green_facades_carousel" data-slide-to="7"></li>
                                    <li data-target="#green_facades_carousel" data-slide-to="8"></li>
                                </ol>
                                <!-- Wrapper for slides -->
                                <div class="carousel-inner" role="listbox">
                                    <div class="item active">
                                        <img src="{{url_for('.static', filename='images/portfolio/green_facades/gf1.png')}}" alt="Chania" class="img-portfolio">
                                    </div>
                                    <div class="item">
                                        <img src="{{url_for('.static', filename='images/portfolio/green_facades/gf2.png')}}" alt="Chania" class="img-portfolio">
                                    </div>
                                    <div class="item">
                                        <img src="{{url_for('.static', filename='images/portfolio/green_facades/gf3.png')}}" alt="Flower" class="img-portfolio">
                                    </div>
                                    <div class="item">
                                        <img src="{{url_for('.static', filename='images/portfolio/green_facades/gf4.png')}}" alt="Flower" class="img-portfolio">
                                    </div>
                                    <div class="item">
                                        <img src="{{url_for('.static', filename='images/portfolio/green_facades/gf5.png')}}" alt="Flower" class="img-portfolio">
                                    </div>
                                    <div class="item">
                                        <img src="{{url_for('.static', filename='images/portfolio/green_facades/gf6.png')}}" alt="Flower" class="img-portfolio">
                                    </div>
                                    <div class="item">
                                        <img src="{{url_for('.static', filename='images/portfolio/green_facades/gf7.png')}}" alt="Flower" class="img-portfolio">
                                    </div>
                                    <div class="item">
                                        <img src="{{url_for('.static', filename='images/portfolio/green_facades/gf8.png')}}" alt="Flower" class="img-portfolio">
                                    </div>
                                </div>
                                <!-- Left and right controls -->
                                <a class="left carousel-control" href="#green_facades_carousel" role="button" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="right carousel-control" href="#green_facades_carousel" role="button" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                            <p>
                                <br/> Green Facades is meant to be used as an educational tool for those with an interest in green facades. It is meant to provide unified information about both past and current green facades research integrated into a taxonomy to follow design guidelines, strategies, and sustainable education. You can select your parameters and get a research based design recommendation based on your preferences.
                                <br/>
                                <br/> The app provides a list of the USDA Zones used for agricultural research. The user then selects a zone that most closely corresponds to their location, or the location in which they wish to grow. The user is then presented with a list of parameters such as plant life expectancy, cost of maintenance, and energy savings possibilities.
                                <br/>
                                <br/> Through an integration with the Parse database, the app then searches through the server to retrieve the information of both plants and available systems for vegetation growth.
                                <br/>
                                <br/> Although this feature is still in progress, the user will then be able to save the plants they like to a list of their "Favorites".
                                <br/>
                                <br/> The app also provides previous case studies performed on different Green Facades systems. The user may also add their own case studies, which are saved locally.
                                <br/>
                                <br/>
                            </p>
                            <ul class="list-inline item-details">
                                <li>Date:
                                    <strong>Spring 2016</strong>
                                </li>
                                <li><strong>Repository</strong>:
                                    <strong><a href="https://github.com/israel-fl/GreenFacades">Github</a>
                                    </strong>
                                </li>
                                <li><strong>Play Store</strong>:
                                    <strong><a href="https://play.google.com/store/apps/details?id=com.israel_fl.greenfacades">Green Facades</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Soul Voyage</h2>
                            <hr class="star-primary">
                            <div id="soul_voyage_carousel" class="carousel slide" data-ride="carousel">
                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#soul_voyage_carousel" data-slide-to="0" class="active"></li>
                                    <li data-target="#soul_voyage_carousel" data-slide-to="1"></li>
                                    <li data-target="#soul_voyage_carousel" data-slide-to="2"></li>
                                    <li data-target="#soul_voyage_carousel" data-slide-to="3"></li>
                                </ol>
                                <!-- Wrapper for slides -->
                                <div class="carousel-inner" role="listbox">
                                    <div class="item active">
                                        <img src="{{url_for('.static', filename='images/portfolio/soul_voyage/sv_1.png')}}" alt="Chania" class="img-portfolio">
                                    </div>
                                    <div class="item">
                                        <img src="{{url_for('.static', filename='images/portfolio/soul_voyage/sv_2.png')}}" alt="Flower" class="img-portfolio">
                                    </div>
                                    <div class="item">
                                        <img src="{{url_for('.static', filename='images/portfolio/soul_voyage/sv_3.png')}}" alt="Flower" class="img-portfolio">
                                    </div>
                                </div>
                                <!-- Left and right controls -->
                                <a class="left carousel-control" href="#soul_voyage_carousel" role="button" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="right carousel-control" href="#soul_voyage_carousel" role="button" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                            <div class="p-portfolio">
                                <p>
                                    </br>
                                    </br>
                                    <h1>Mobile App Game</h1>
                                    <br/>
                                    <br/>
                                    <h3>Strange Attractor:</h3> One player, four friends - coordinate with your team to guide a ship through the realms of space with the use of magical forces.
                                    <br/>
                                    <br/>
                                    <h3>Basic Summary:</h3>There will be controls at all four corners of the screen (like a magnet that can be turned on or off), which allows for multiple people to control a single character. There will be obstacles and enemies to avoid/defeat, which may differ depending on the game mode.
                                    <br/>
                                    <br/>
                                    <h3>Major Features:</h3>
                                    <br/>
                                    <br/> Main character is controlled by four buttons on the corners of the screen, which act as magnets that “pull” the characters in that direction.
                                    <br/>
                                    <br/> Particle systems to illustrate what direction the player is being pulled
                                    <br/>
                                    <br/> Procedurally generated obstacles/enemies that make the game harder over time / as you progress
                                    <br/>
                                    <br/> Different types of obstacles and enemies, for example:
                                    <br/>
                                    <br/> Obstacles can block the way so that the player cannot move in that direction
                                    <br/>
                                    <br/> Obstacles can have a force (attractive or repulsive) that affects the character and must be counteracted by the players
                                    <br/>
                                    <br/> Obstacles that change the behavior of the controls (for example, instead of acting like magnets that pull the character in, the controls may switch over to acting like air jets that push the character away)
                                    <br/>
                                    <br/> Obstacles (passive enemies) such as mines that do damage to the character
                                    <br/>
                                    <br/> Enemies (active enemies) that actively try to follow and damage the character
                                    <br/>
                                    <br/> Multiple play modes
                                    <br/>
                                    <br/> Game Center integration for high scores and achievements.
                                    <br/>
                                    <br/>
                                    <h3>Art Considerations:</h3> The game will have a simplistic and clean art style, featuring mostly monochromatic characters of common shapes and simple particle systems.
                                    <br/>
                                    <br/>
                                </p>
                            </div>
                            <ul class="list-inline item-details">
                                <li>Date:
                                    <strong>Spring 2016</strong>
                                </li>
                                <li><strong>Repository</strong>:
                                    <strong><a href="https://github.com/israel-fl/SoulVoyage">Github</a>
                                    </strong>
                                </li>
                                <li><strong>Play Store</strong>:
                                    <strong><a href="https://play.google.com/store/apps/details?id=com.israel_fl.soulvoyage">Soul Voyage</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Web Design and Frameworks</h2>
                            <hr class="star-primary">
                            <img src="{{url_for('.static', filename='images/skills/architecture.png')}}" class="img-responsive img-centered img-portfolio" alt="">
                            <div class="p-portfolio">
                                <p>
                                    </br>
                                    <h3>Fullstack Developer</h3></br>
                                    </br>
                                    I have experience developing full web applications (this entire website for example!), both front end and back end. I develop with User Experience (UX) in mind ensuring that applications are intuitive, easy to use, and aesthetically pleasing. I've used various frameworks such as Laravel in PHP, Express for NodeJS, and Flask for Python to name a few.</br>
                                    </br>
                                    I can develop apis, have used different database technologies (Postgresql, Mysql, MSSQL), and regularly work in Unix environments, AWS services, and the LEMP stack.
                                </p>
                            </div>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Android Applications</h2>
                            <hr class="star-primary">
                            <img src="{{url_for('.static', filename='images/portfolio/android.jpg')}}" class="img-responsive img-centered" alt="">
                            <p>
                                Experience creating android applications in Java, that follow the MVC pattern and the Material Design guidelines. I've created multiple apps for clients.</br>
                                </br>
                                See <strong><a href="https://play.google.com/store/apps/details?id=com.israel_fl.greenfacades">Green Facades</a></strong> here.
                            </p>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Languages</h2>
                            <hr class="star-primary">
                            <img src="{{url_for('.static', filename='images/portfolio/languages.png')}}" class="img-responsive img-centered" alt="">
                            <p>Knowledge of various programming languages in Object Oriented design:
                            <ul>
                                <li>Python (Very Proficient)</li>
                                <li>Java</li>
                                <li>C++</li>
                                <li>PHP</li>
                                <li>HTML, CSS, Javascript (React, Express, Node JS, Angular)</li>
                                <li>C# (Unity Game Developing)</li>
                                <li>SQL, MYSQL, MSSQL, NOSQL</li>
                            </ul>
                            In fact, this entire website is written in Python!
                            </p>
                            I also have experience in implementing design structures, such as using the following patterns:
                            <ul>
                                <li>Git (with branching, pull requests and issues)</li>
                                <li>Model, View, Controllers (MVC)</li>
                                <li>Object Relational Mappings (ORMs)</li>
                                <li>RESTless Application Programming Interfaces (APIs)</li>
                                <li>Promises (in Node JS)</li>
                                <li>Numerical Analysis (with Numpy and Pandas)</li>
                            </ul>
                            <button id="btnSubmit" type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{{url_for('.static', filename='bootstrap/js/bootstrap.min.js')}}"></script>
<!-- Plugin JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<!-- Contact Form JavaScript -->
<script src="{{url_for('.static', filename='js/jqBootstrapValidation.js')}}"></script>
<script src="{{url_for('.static', filename='js/contact_me.js')}}"></script>
<!-- Theme JavaScript -->
<script src="{{url_for('.static', filename='js/freelancer.min.js')}}"></script>
<!-- Other Scripts -->
<script src="https://d3js.org/d3.v4.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script src="//d3js.org/topojson.v1.min.js"></script>
<script src="{{url_for('.static', filename='js/index.js')}}"></script>
<script src="{{url_for('.static', filename='js/resume.js')}}"></script>

<script type="text/javascript">
$("#download-resume").click(function (){
    var _url = "/static/work_resume.pdf"
    $.ajax({
        url: _url,
        method: "GET",
        success: function(data) {
            console.log(data)
            // if (data.success) {
            //     window.location.replace($("#url-verify").val());
            // } else {
                // Generate errors
        },
    });
});
</script>
<script type="text/javascript">
</script>
</html>
