{% extends "base.html" %}

{% block head %}
    {{ super() }}
{% endblock %}
{% block title %} Register {% endblock %}

{% block body %}
<body class="hold-transition register-page body-background">
    {% block styles %}
        {{ super() }}
        <!-- Theme CSS -->
        <link href="{{url_for('static', filename='bower_components/adminlte/dist/css/AdminLTE.min.css')}}" rel="stylesheet">
        <link href="{{url_for('static', filename='css/register.css')}}" rel="stylesheet">
        <link href="{{url_for('static', filename='css/shake.css')}}" rel="stylesheet">
    {% endblock %}

<div class="register-box">
  <div class="register-logo">
    <a href="/"><b>Israel</b>Fl</a>
  </div>

  <div class="register-box-body">
    <h3 class="login-box-msg">Create an account</h3>
    {% with messages = get_flashed_messages(with_categories=true) %}
      <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }} alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <strong>{{ message }}</strong>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <div class="alert alert-danger alert-dismissible" role="alert" id="show-errors" style="display:none">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong id="message"></strong>
    </div>
    <form class="mui-form" method="post" action="/register/" id="register">
        <div class="mui-textfield">
          <input type="text" placeholder="Name*" name="name" id="name" title="Please enter First and Last name">
        </div>
        <div class="mui-textfield">
          <input type="text" placeholder="Username*" name="username" id="username">
        </div>
        <div class="mui-textfield">
          <input type="email" placeholder="Email*" name="email" id="email">
        </div>
        <div class="mui-textfield">
          <input type="password" placeholder="Password*" name="password" id="password" title="Password must be at least 6 characters and must contain at least 1 uppercase letter and 1 number">
        </div>
        <div class="mui-textfield">
            <input type="password" placeholder="Confirm Password*" name="retype" id="retype">
        </div>
        <div class="row">
          <button type="submit" class="btn-block btn-full-width mui-btn mui-btn--raised mui-btn--primary">Register</button>
        </div>
    </form>
    <i>* indicates a required value</i>
    <p>By creating an account you agree to Data Rhino's <a href="/register/terms">Conditions of Use</a> and <a href="/register/policy">Privacy Notice</a></p>
    </form>
    <hr></hr>
    Already have an account? <a href="/login" class="text-center">Sign in</a>
  </div>
  <!-- /.form-box -->
</div>
<!-- /.register-box -->
</body>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <!-- Theme JavaScript -->
    <script defer src="{{url_for('static', filename='js/register.js')}}"></script>
{% endblock %}
