{% extends "base.html" %}

{% block head %}
    {{ super() }}
{% endblock %}
{% block title %} Verify {% endblock %}

{% block body %}
<body class="hold-transition register-page body-background">
    {% block styles %}
        {{ super() }}
        <!-- Theme CSS -->
        <link href="{{url_for('static', filename='bower_components/adminlte/dist/css/AdminLTE.min.css')}}" rel="stylesheet">
        <link href="{{url_for('static', filename='css/login.css')}}" rel="stylesheet">
    {% endblock %}
<div class="register-box">
  <div class="register-logo">
    <a href="/"><b>Israel</b>Fl</a>
  </div>

  <div class="register-box-body">
    <h3 class="login-box-msg">Thank you for verifying your account</h3>
    <a href="/login">Login</a>
  </div>
  <!-- /.form-box -->
</div>

{% endblock %}
