{% extends "index.html" %}

{% block head %} {{ super() }}
{% endblock %}

{% block title %} 404 {% endblock %}

{% block content %}
    {% block styles %} {{ super() }}
    <style type="text/css">
    * {
        transition: all 0.6s;
    }

    html {
        height: 100%;
    }

    body {
        font-family: 'Lato', sans-serif;
        color: #888;
        margin: 0;
        background:#f6f5f4;
    }

    #main {
        display: table;
        width: 100%;
        height: 100vh;
        text-align: center;
    }

    .fof {
        display: table-cell;
        vertical-align: middle;
    }

    .fof h1 {
        font-size: 50px;
        display: inline-block;
        padding-right: 12px;
        animation: type .5s alternate infinite;
    }

    @keyframes type {
        from {
            box-shadow: inset -3px 0px 0px #888;
        }
        to {
            box-shadow: inset -3px 0px 0px transparent;
        }
    }
    </style>
    {% endblock %}
    <!-- ACTUAL ERROR PAGE -->

    <div id="main">
        <div class="fof">
            <h1>404 Page Not Found</h1>
        </div>
    </div>


{% endblock %}


{% block scripts %}
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/snap.svg/0.3.0/snap.svg-min.js"></script>
{% endblock %}
