<!DOCTYPE html>
<html lang="en">

{% block head %}
<head>
    <!-- GOOGLE ANALYTICS -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-73276042-2', 'auto');
        ga('send', 'pageview');
    </script>
    <!-- GOOGLE ANALYTICS -->

    <!-- FACEBOOK Login -->
    <script async defer src="{{url_for('static', filename='js/base.js')}}"></script>

    <!-- Google Client ID -->
    <meta name="google-signin-client_id" content="352888396080-mcvh515uocehs0l517bh2qfrrutq04ul.apps.googleusercontent.com">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Israel Flores | {% block title %}  {% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href="{{url_for('static', filename='images/favicon.png')}}"/>

    <!-- jQuery -->
    <script src="{{url_for('static', filename='bower_components/jquery/dist/jquery.min.js')}}"></script>

    <!-- Adsense -->
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-9897928155733689",
        enable_page_level_ads: true
      });
    </script>
</head>
{% endblock %}


{% block body %}

    {% block styles %}
        <!-- Bootstrap Core CSS -->
        <link href="{{url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css')}}" rel="stylesheet">
        <!-- Custom Fonts -->
        <link href="{{url_for('static', filename='bower_components/fontawesome/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">


        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
        <link rel="stylesheet" type="text/css" media="screen" href="{{url_for('static', filename='bower_components/mui/packages/cdn/css/mui.min.css')}}" />
        <link href="{{url_for('static', filename='css/shake.css')}}" rel="stylesheet">
    {% endblock %}


{% block footer %}
{% endblock %}

{% endblock %}

{% block scripts %}
<!-- Tether -->
<script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script async defer src="{{url_for('static', filename='bower_components/bootstrap/dist/js/bootstrap.min.js')}}"></script>
<!-- Plugin JavaScript -->
<script async defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<!-- Contact Form JavaScript -->
<script async defer src="{{url_for('static', filename='js/jqBootstrapValidation.js')}}"></script>
<!-- Other Scripts -->
<script async defer src="{{url_for('static', filename='bower_components/mui/packages/cdn/js/mui.min.js')}}"></script>
<!-- Material UI -->
<script async defer  src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<!-- Jquery UI -->
<script
  src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"
  integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E="
  crossorigin="anonymous"></script>

<!-- Google Platform Library -->
<script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
{% endblock %}

</html>
